@page "/products"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ISubCategoryService SubCategoryService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Products</PageTitle>


<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Products</h1>
    <button class="btn btn-primary" style="font-size: 18px; padding: 10px;" @onclick="(() => CreateProduct())">
        Create new product
    </button>
</div>

<ModalDialog @ref="@ModalDialog" Title="@modalText">
    <div class="modal-footer">
        <button class="btn btn-primary" @onclick="() => ModalDialog.Close()">OK</button>
    </div>
</ModalDialog>

@if (products == null)
{
    <span> Loading... </span>
}
else if (products.Count == 0)
{
    <div>
        <span> No products found </span>
    </div>
}
else
{
    <RadzenDataGrid Data="@products" TItem="Product" ColumnWidth="300px" style="width: 1400px; margin-left: 0;">
        <Columns>
            <RadzenDataGridColumn TItem="Product" Property="ProductTitle"
                                  Title="Product Title" TextAlign="Radzen.TextAlign.Left" Width="300px" />
            <RadzenDataGridColumn TItem="Product" Property="Category.CategoryTitle"
                                  Title="Category" TextAlign="Radzen.TextAlign.Left" Width="300px" />
            <RadzenDataGridColumn TItem="Product" Property="SubCategory.SubCategoryTitle"
                                  Title="Sub category" TextAlign="Radzen.TextAlign.Left" Width="300px" />
            <RadzenDataGridColumn TItem="Product" Property="TaxGroup"
                                  Title="Tax group" TextAlign="Radzen.TextAlign.Left" Width="100px" />
            <RadzenDataGridColumn TItem="Product" Property="IsMature"
                                  Title="18+?" TextAlign="Radzen.TextAlign.Left" Width="100px" />
            <RadzenDataGridColumn TItem="Product" Property="ExciseNeeded"
                                  Title="Excise Needed?" TextAlign="Radzen.TextAlign.Left" Width="100px" />
            <RadzenDataGridColumn Title="Action" TItem="Product" TextAlign="Radzen.TextAlign.Left" Width="150px">
                <Template Context="product">
                    <EditDeleteButtonsBlock Edit="(() => EditProduct(product.ProductID))" Delete="(async () => await DeleteProduct(product.ProductID))" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

@*     <table class="table">
        <thead>
            <tr>
                <th>Products list</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>                    
                    <td>@product.Category.CategoryTitle</td>
                    <td>@product.SubCategory.SubCategoryTitle</td>
                    <td>@product.ProductTitle</td>
                    <td>@product.TaxGroup</td>
                    <td>@product.IsMature</td>
                    <td>@product.ExciseNeeded</td>
                    <td>
                        <button class="btn btn-primary" style="font-size: 14px; padding: 10px;" @onclick="(() => EditProduct(product.ProductID))">
                            Edit
                        </button>
                        <button class="btn btn-danger" style="font-size: 14px; padding: 10px;" @onclick="(() => DeleteProduct(product.ProductID))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@
}

@code {
    List<Product> products = null;

    ModalDialog ModalDialog { get; set; }

    string modalText = String.Empty;
    string modalSuccessText = "Category successfully deleted";
    string modalErrorText = "Error occured while deleting category";

    protected override async Task OnInitializedAsync()
    {        
        products = await ProductService.GetProducts();
    }

    void CreateProduct()
    {
        NavigationManager.NavigateTo("/product");
    }

    void EditProduct(int id)
    {
        NavigationManager.NavigateTo($"/product/{id}");
    }

    async Task DeleteProduct(int id)
    {
        var result = await ProductService.DeleteProduct(id);
        if (result)
        {
            ShowModalDialog(result);
            products = await ProductService.GetProducts();
        }
        else
            ShowModalDialog(result);
    }

    void ShowModalDialog(bool isSuccess)
    {
        if (isSuccess) modalText = modalSuccessText;
        else modalText = modalErrorText;

        ModalDialog.Open();
    }
}